<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    {{>styles}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This weather app is created by Alpha96 team, and data comes from mapbox.com and weatherstack.com, and backend developed using JS backend runtime which is node.js.</p>
        <img class="portrait" src="https://images.unsplash.com/photo-1488716820095-cbe80883c496?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d29tYW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
    </div>
    
    {{>footer}}
</body>

</html>